#anleitungsbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    text-align: center;
}


#anleitungspanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-color: #333;
    padding: 50px 100px;
    border-radius: 50px;
}

.anleitungsAbschnitt{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.videoElement{
    width: 400px;
    margin: 10px;
}