#gameContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#gameFieldContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}

.container{
    min-width: 500px;
    min-height: 500px;
    
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 25px 25px;
    border-radius: 50px;
}

.field{
    background-color: #007BFF ;
    
    border-color: aqua;
    border: solid 1px aqua;
    width: 48px;
    height: 48px;
}

#shipContainer{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    background-color: white;
    padding: 30px 150px;
    border-radius: 50px;
}

.destroyer{
    width: 98px;
    height: 48px;
}

.submarine{
    width: 148px;
    height: 48px;
    
}

.cruiser{
    width: 148px;
    height: 48px;
}


.battleship{
    width: 198px;
    height: 48px;
}

.carrier{
    width: 248px;
    height: 48px;
    
}

.ship{
    transform: rotate(0deg);
    transform-origin: 24px 24px;

}

.unselectable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .hidden{
    visibility: hidden;
  }

  #gameStartDialog{
    z-index: 10;
  }

  #gamebtns{
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  .gamebtn{
    margin-left: 10px;
    margin-right: 10px;
  }


